* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}
.header {
  width: 100%;
  background-color: rgb(43, 67, 110);
  color: white;
  padding: 10px;
}

.create {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-input {
  border-radius: 5px;
  outline: none !important;
  border: 0.5px solid lightgray;
  padding: 2px;
  padding-left: 4px;
  padding-right: 3px;
  background-color: rgb(240, 240, 240);
}
.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button {
  padding-left: 10px;
  padding-right: 10px;
  background-color: green;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.styled-card {
  background-color: rgb(232, 232, 232);
  width: 14rem;
  border: 5px;
}
.styled-button {
  border-radius: 5px;
  border: 0.5px solid gray;
}

.list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 20px;
}
@media only screen and (max-width: 800px) {
  .add-form {
    flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
  .list-container {
    justify-content: space-around;
  }
}
body {
  min-height: 100vh;
}
